body {
  background-color: #2d313c;
  font-family: 'Open Sans', sans-serif;
}

.splash {
  padding-top: 150px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.splash-image {
  border-radius: 10px;
  margin: 10px;
  height: 191px;
  width: 210px;
}

.splash-row {
  display: flex;
  justify-content: flex-end;
  height: 200px;
}

.splash-row-text {
  display: flex;
  justify-content: flex-start;
}

.splash-quadrant {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
}

.text-wrapper {
  color: #dedede;
}

.text-wrapper h2 {
  font-family: 'Mountains of Christmas', cursive;
  font-weight: lighter;
  margin: 10px 0 0 0;
}

.text-wrapper p {
  margin: 0 auto;
  font-size: 13px;
  font-weight: 300;
  color: #bdbdbd;
}

.signup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #984444;
  padding: 0px 10px 11px 10px;
  border-radius: 10px;
}

.userlist-wrapper {
  display: inline;
  /*justify-content: center;*/
  /*align-items: center;*/
  color: white;
}

.input {
  height: 37px;
  width: 191px;
  background: transparent;
  margin-top: 10px;
  padding: 5px 0px 0px 10px;
  border-radius: 8px;
  border-bottom: 4px solid #ffffff;
  color: white;
}

input {
  height: 37px;
  width: 191px;
  background: transparent;
  margin-top: 10px;
  padding: 5px 0px 0px 10px;
  border-radius: 8px;
  border-bottom: 4px solid #ffffff;
  color: white;
}

.textarea {
  height: 100px;
  width: 200px;
  border-radius: 3px;
  border: 1px solid lightgrey;
  background: white;
}

.auth-submit-button {
  height: 40px;
  width: 202px;
  border-radius: 8px;
  border: 1px solid #8282bf;
  background: lightblue;
  cursor: pointer;
  margin-top: 10px;
}

.auth-submit-button:hover {
  background: #83a9cb;
}

.signout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  border-radius: 3px;
  border: 1px solid darkgreen;
  background: lightgreen;
  cursor: pointer;
}

.auth-tabs-wrapper {
  display: flex;
  margin: auto 0;
  position: relative;
  left: 10px;
}

.auth-tab-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 25px;
  background: #984444;
  border-radius: 6px 6px 0 0;
  color: white;
  cursor: default;
}

.auth-tab-inactive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 25px;
  background: rgba(150, 70, 70, 0.57);
  border-radius: 6px 6px 0 0;
  color: white;
  cursor: pointer;
}

.countdown-wrapper {
  display: inline-block;
}

.countdown-text {
  color: white;
}
