body {
  background-color: #2d313c;
  font-family: 'Open Sans', sans-serif;
}

* {
  transition: background 0.1s ease-in-out;
}

.splash {
  padding-top: 200px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.splash-image {
  border-radius: 10px;
  margin: 10px;
  height: 191px;
  width: 210px;
}

.splash-row {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 200px;
}

.splash-row-text {
  display: flex;
  justify-content: flex-start;
}

.splash-quadrant {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
}

.text-wrapper {
  color: #dedede;
}

.text-wrapper h2 {
  font-family: 'Mountains of Christmas', cursive;
  font-weight: lighter;
  margin: 10px 0 0 0;
}

.text-wrapper p {
  margin: 0 auto;
  font-size: 13px;
  font-weight: 300;
  color: #bdbdbd;
}

.signup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #984444;
  padding: 0px 10px 11px 10px;
  border-radius: 10px;
}

.query-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #2d5769;
  padding: 0px 10px 10px 10px;
  border-radius: 10px;
}
}

.userlist-wrapper {
  display: inline;
  /*justify-content: center;*/
  /*align-items: center;*/
  color: white;
}

.input {
  height: 35px;
  width: 182px;
  background: transparent;
  margin-top: 10px;
  padding: 5px 5px 5px 10px;
  border-radius: 8px;
  border: 1px solid #d07575;
  color: white;
  font-size: 14px;
}

input {
  border: none;
}

textarea, input, input:hover, input:focus {
  -webkit-appearance:none;
  outline: none;
}

input::-webkit-input-placeholder {
   color: white;
   font-size: 13px;
   font-weight: 300px;
   padding: -2px 10px;
}

input:-moz-placeholder { /* Firefox 18- */
   color: white;
   font-size: 13px;
   font-weight: 300px;
   padding: -2px 10px;
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: white;
   font-size: 13px;
   font-weight: 300px;
   padding: 10px;
}

input:-ms-input-placeholder {
   color: white;
   font-size: 13px;
   font-weight: 300px;
   padding: -2px 10px;
}

.textarea {
  height: 35px;
  width: 182px;
  background: transparent;
  margin-top: 10px;
  padding: 5px 5px 5px 10px;
  border-radius: 8px;
  border: 1px solid #ef4754;
  color: white;
  font-size: 14px;
}


textarea, textarea:hover, textarea:focus {
  -webkit-appearance:none;
  outline: none;
}

textarea::-webkit-input-placeholder {
   color: white;
   font-size: 13px;
   font-weight: 300px;
   padding: -2px 10px;
}

textarea:-moz-placeholder { /* Firefox 18- */
   color: white;
   font-size: 13px;
   font-weight: 300px;
   padding: -2px 10px;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
   color: white;
   font-size: 13px;
   font-weight: 300px;
   padding: 10px;
}

textarea:-ms-input-placeholder {
   color: white;
   font-size: 13px;
   font-weight: 300px;
   padding: -2px 10px;
}


.auth-submit-button {
  height: 40px;
  width: 202px;
  border-radius: 8px;
  background: #943540;
  color: #e8e8e8;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.auth-submit-button:hover {
  background: #7b2d36;
}

.auth-submit-button:active {
  background: #ad4753;
}

.signout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  border-radius: 3px;
  border: 1px solid darkgreen;
  background: lightgreen;
  cursor: pointer;
}

.auth-tabs-wrapper {
  display: flex;
  margin: auto 0;
  position: relative;
  left: 10px;
  color: white;
  font-weight: 300;
}

.auth-tab-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 25px;
  background: #984444;
  border-radius: 6px 6px 0 0;
  color: white;
  cursor: default;
  margin: 0 3px;
}

.auth-tab-inactive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 25px;
  background: rgba(150, 70, 70, 0.57);
  border-radius: 6px 6px 0 0;
  color: white;
  cursor: pointer;
  margin: 0 3px;
}

.countdown-wrapper {
  display: inline-block;
}

.countdown-text {
  color: white;
}
