body {
  background-color: #5885ad;
}

.splash {
  padding-top: 150px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.splash-top {
  display: flex;
  justify-content: center;
  height: 200px;
}

.splash-bottom {
  display: flex;
  justify-content: center;
  height: 200px;
}

.splash-quadrant {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
}

.signup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.userlist-wrapper {
  display: inline;
  /*justify-content: center;*/
  /*align-items: center;*/
  color: white;
}

.input {
  height: 50px;
  width: 191px;
  border: 1px solid lightgrey;
  background: white;
  margin-top: 10px;
  padding: 5px 0px 0px 10px;
  border-radius: 8px;
  border: solid 1px #265665;
}

.textarea {
  height: 100px;
  width: 200px;
  border-radius: 3px;
  border: 1px solid lightgrey;
  background: white;
}

.auth-submit-button {
  height: 50px;
  width: 202px;
  border-radius: 8px;
  border: 1px solid #8282bf;
  background: lightblue;
  cursor: pointer;
  margin-top: 10px;
}

.auth-submit-button:hover {
  background: #83a9cb;
}

.signout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  border-radius: 3px;
  border: 1px solid darkgreen;
  background: lightgreen;
  cursor: pointer;
}

.auth-tabs-wrapper {
  display: flex;
  margin: auto 0;
}

.auth-tab-active {
  cursor: default;
  width: 50px;
  height: 20px;
  background: #83a9cb;
}

.auth-tab-inactive {
  cursor: pointer;
  width: 50px;
  height: 20px;
  background: lightblue;
}

.countdown-wrapper {
  display: inline-block;
}

.countdown-text {
  color: white;
}
